<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		<div class="pagination-area mt-30 mb-50 d-flex justify-content-end" th:fragment="navFragment">
		    <nav aria-label="Page navigation example">
		        <ul class="pagination justify-content-start">
					<li class="page-item active"><a class="page-link" href="#">01</a></li>
					<li class="page-item"><a class="page-link" href="#">02</a></li>
					<li class="page-item"><a class="page-link" href="#">03</a></li>
					<li class="page-item"><a class="page-link dot" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">16</a></li>
					<li class="page-item">
						<a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
		            </li>
		        </ul>
		    </nav>
		</div>
</html>